step 1: import 必要的库

In [2]:
import pandas as pd

step 2: 使用read_excel阅读excel数据文件，默认读取第一个sheet

In [4]:
pd.read_excel("fund_data.xlsx")

          时间    份额(亿份)    净值(亿元)  基金数量(只)
0   2015年02月   1333.91   1473.16      144
1   2015年03月   1402.76   1574.58      146
2   2015年04月   1408.63   1628.28      146
3   2015年05月   1482.69   1783.29      147
4   2015年06月   1446.70   1667.86      149
..       ...       ...       ...      ...
85  2022年03月  29605.25  31154.38     1208
86  2022年04月  29969.87  31539.46     1219
87  2022年05月  30099.95  31857.84     1228
88  2022年06月  30706.01  32694.87     1245
89  2022年07月  30376.47  32235.76     1238

[90 rows x 4 columns]

step 3: 使用sheet_name来指定要读取的sheet

In [7]:
pd.read_excel("fund_data.xlsx", sheet_name=1)

          时间    份额(亿份)    净值(亿元)  基金数量(只)
0   2015年02月  10833.92  14029.83      725
1   2015年03月  10800.56  15805.45      747
2   2015年04月  11140.26  17695.30      767
3   2015年05月  11728.99  20369.76      801
4   2015年06月  12725.52  17728.17      855
..       ...       ...       ...      ...
85  2022年03月  17180.21  22743.22     1855
86  2022年04月  17724.36  21783.28     1873
87  2022年05月  17623.05  22552.67     1886
88  2022年06月  17537.02  24741.65     1906
89  2022年07月  18224.21  24073.80     1942

[90 rows x 4 columns]

In [8]:
pd.read_excel("fund_data.xlsx", sheet_name="股票基金")

          时间    份额(亿份)    净值(亿元)  基金数量(只)
0   2015年02月  10833.92  14029.83      725
1   2015年03月  10800.56  15805.45      747
2   2015年04月  11140.26  17695.30      767
3   2015年05月  11728.99  20369.76      801
4   2015年06月  12725.52  17728.17      855
..       ...       ...       ...      ...
85  2022年03月  17180.21  22743.22     1855
86  2022年04月  17724.36  21783.28     1873
87  2022年05月  17623.05  22552.67     1886
88  2022年06月  17537.02  24741.65     1906
89  2022年07月  18224.21  24073.80     1942

[90 rows x 4 columns]

step 4: 使用sheet_name来指定多个sheet

In [9]:
pd.read_excel("fund_data.xlsx", sheet_name=[0, "股票基金"])

{0:           时间    份额(亿份)    净值(亿元)  基金数量(只)
 0   2015年02月   1333.91   1473.16      144
 1   2015年03月   1402.76   1574.58      146
 2   2015年04月   1408.63   1628.28      146
 3   2015年05月   1482.69   1783.29      147
 4   2015年06月   1446.70   1667.86      149
 ..       ...       ...       ...      ...
 85  2022年03月  29605.25  31154.38     1208
 86  2022年04月  29969.87  31539.46     1219
 87  2022年05月  30099.95  31857.84     1228
 88  2022年06月  30706.01  32694.87     1245
 89  2022年07月  30376.47  32235.76     1238

 [90 rows x 4 columns],
 '股票基金':           时间    份额(亿份)    净值(亿元)  基金数量(只)
 0   2015年02月  10833.92  14029.83      725
 1   2015年03月  10800.56  15805.45      747
 2   2015年04月  11140.26  17695.30      767
 3   2015年05月  11728.99  20369.76      801
 4   2015年06月  12725.52  17728.17      855
 ..       ...       ...       ...      ...
 85  2022年03月  17180.21  22743.22     1855
 86  2022年04月  17724.36  21783.28     1873
 87  2022年05月  17623.05  22552.67     1886
 88  2022年06月  17537.02  24741.65     1906
 89  2022年07月  18224.21  24073.80     1942

 [90 rows x 4 columns]}

step 5: 获取所有sheet

In [12]:
df = pd.read_excel("fund_data.xlsx", sheet_name=None)
print(df['混合基金'])

          时间    份额(亿份)    净值(亿元)  基金数量(只)
0   2015年02月   6144.94   7123.89      425
1   2015年03月   7416.54   9304.85      447
2   2015年04月  10409.72  13121.92      504
3   2015年05月  17113.14  21315.04      585
4   2015年06月  20107.49  23072.03      664
..       ...       ...       ...      ...
85  2022年03月  41407.14  52459.35     4192
86  2022年04月  40552.15  48807.50     4221
87  2022年05月  39755.48  50212.95     4266
88  2022年06月  39735.04  54130.70     4312
89  2022年07月  39304.19  52141.93     4358

[90 rows x 4 columns]